/***************************
            LAYOUT         */
body {
  background-color: steelblue;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
}
/*Calculator Container *****/
.calc-container {
  border: 2px solid gray;
  margin-right: auto;
  margin-left: auto;
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: silver;
}

/*Display *****************/
.main-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20.5rem;
  box-sizing: border-box;
  color: black;
  font-family: monospace , Courier, 'Courier New';
  max-width: 100%;
  text-align: right;
  min-height: 6.5rem;
  padding: .3rem;
  background-color: black;
  color: rgb(165, 219, 83);
  margin-top: .6rem;
}
.display-history {
  min-height: 1.5rem;
  font-size: 1.3rem;
  max-width: 100%;
}

// 'overflow-wrap' seems to only work on the first child of an element, so each element needing wrapping now has a parent for that sole purpose.
.display-history-wrapper, .display-wrapper {
  overflow-wrap: break-word;
  max-width: 100%;
}
.display {
  min-height: 2rem;
  font-size: 1.7rem;
}

/*Key Pad GRID ************/
.key-pad {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem;
  grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
  grid-template-areas: 
  "clear clear divide multiply"
  "seven eight nine subtract"
  "four five six add"
  "one two three equals"
  "zero zero decimal equals";
  
  grid-column-gap: 2px;
  grid-row-gap: 3px;
  padding: 1rem;

  color: whitesmoke;
  font-family: monospace , Courier, 'Courier New';
  font-weight: bold;
  font-size: 1.5rem;
}

@each $key in zero, one, two, three, four, five, six, seven, eight, nine, add, subtract, multiply, clear, decimal, equals {
  .item-#{$key} {
    grid-area: #{$key};
  }
} 

/***************************
            MODULE         */
/*Key Module****************/
.key {
  background-color: rgb(37, 33, 33);
  text-align: center;
  border: 1px solid black;
  line-height: 5rem;
  &:hover {
    background-color: rgb(65, 64, 64);
  }
}
/*Key Module Mods **********/
.item-equals {
  line-height: 10rem;
  background-color: rgb(37, 37, 197);
  &:hover {
    background-color: rgb(64, 64, 209);
  }
}
.item-clear {
  background-color: rgb(214, 72, 72);
  &:hover {
    background-color: rgb(253, 115, 115);
  }
}
.item-divide, .item-multiply, .item-subtract, .item-add {
  background-color: rgb(99, 98, 98);
   &:hover {
    background-color: rgb(145, 145, 145);
  }
}
